<!-- This is the rspec text view modal -->
<div id='rspec_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <button type='button' class='btn btn-primary btn-xs pull-right'
                style='margin-right: 10px;'
                id='collapse_rspec_modal_button'>
          Collapse</button>
        <h3>rspec XML</h3>
      </div>
      <div class='modal-body'>
        <div class='panel panel-default'>
          <div class='panel-body'>
	    <textarea name=\"formfields[profile_rspec_modal]\"
		      id='modal_profile_rspec_textarea'
		      rows=20
                      class='form-control'
                      type='textarea'></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
