<div class='row'>
  <div class='col-lg-8 col-lg-offset-2
              col-md-8 col-md-offset-2
              col-sm-10 col-sm-offset-1
              col-xs-12'>
    <% if (!embedded) { %>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= title %></h3>
      </div>
      <div class='panel-body'>
    <% } %>
	<div class='row'>
	  <div class='col-sm-12'>
	    <table class='table table-condensed table-bordered'>
	      <tr>
		<td>Name</td>
		<td><%- formfields.dataset_name %></td>
	      </tr>
	      <tr>
		<td>Project</td>
		<td><%- formfields.dataset_pid %></td>
	      </tr>
	      <tr>
		<td>Creator</td>
		<td><%- formfields.dataset_creator %></td>
	      </tr>
	      <tr>
		<td>Size</td>
		<td><%- formfields.dataset_size %>MiB</td>
	      </tr>
	      <tr>
		<td>Type</td>
		<td><%- formfields.dataset_type %></td>
	      </tr>
	      <tr>
		<td>Created</td>
		<td><%- formfields.dataset_created %></td>
	      </tr>
	      <tr>
		<td>Expires</td>
		<td><%- formfields.dataset_expires %></td>
	      </tr>
	      <tr>
		<td>Last Used</td>
		<td><%- formfields.dataset_lastused %></td>
	      </tr>
	      <tr>
		<td>FS Type</td>
		<td><%- formfields.dataset_fstype %></td>
	      </tr>
	      <tr>
		<td>State</td>
		<td><%- formfields.dataset_state %></td>
	      </tr>
	      <tr>
		<td>Internal ID</td>
		<td><%- formfields.dataset_idx %></td>
	      </tr>
	    </table>
	  </div>
	</div>
 	<% if (candelete) { %>
	  <button class='btn btn-danger btn-sm pull-left'
                  id='dataset_delete_button'
                  style='margin-right: 10px;'
     		  data-toggle='modal' data-target='#delete_modal'
                  type='button' name='delete'>Delete
	  </button>
	<% } %>
 	<% if (canapprove) { %>
	  <button class='btn btn-primary btn-sm pull-left'
                  id='dataset_approve_button'
                  style='margin-right: 10px;'
     		  data-toggle='modal' data-target='#approve_modal'
                  type='button' name='approve'>Approve
	  </button>
	<% } %>
	  <a type=button class='btn btn-info btn-sm pull-left'
                  id='embedded-anchors'
	          href='list-datasets.php'
                  style='margin-right: 10px;'>Back to List
	  </a>
    <% if (!embedded) { %>
      </div>
    </div>
    <% } %>
    <!-- place to hang the modals for now -->
    <!-- Confirm Deletion -->
    <div id='delete_modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
            <center><h3>Confirm to Delete</h3>
              <a class='btn btn-danger btn-sm'
		 id='delete-confirm'
		 type='button' name='delete'>Confirm</a></center>
	  </div>
	</div>
      </div>
    </div>
    <!-- Confirm Approval -->
    <div id='approve_modal' class='modal fade'>
      <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-body'>
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
            <center><h3>Confirm to Approve</h3>
              <a class='btn btn-danger btn-sm'
		 id='approve-confirm'
		 type='button' name='approve'>Confirm</a></center>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
